.link {
    display: inline-flex;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.link:hover {
    color: orangered;
    text-decoration: underline;
}

.active {
    color: red;
}
.navigation{
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px
}